.template_list-item {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-border-color);
    padding: 2px;
    gap: 2px;
    border-radius: 10px;

    cursor: pointer;
    font-size: 2rem;
}

.identifier {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--field-color);
    border-radius: 8px;
    min-width: 20%;
    width: fit-content;
}

.dot {
    color: var(--accentColor);
    font-weight: bold;
}

.template_string {
    padding: 1rem;
    background-color: var(--field-color);
    border-radius: 8px;
    width: -webkit-fill-available;
}