.iconCheckBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    min-width: max-content;
    height: 100%;
}

.iconCheckBox:hover {
    background-color: var(--primary-border-color);
    border-radius: 4px;
}

.iconCheckBox > svg {
    height: 100%;
    aspect-ratio: 1;
    width: auto;
    flex: 1;
}