*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.rar
# IntelliJ project files
*.iml
out
gen
target
.idea
# Local Config Files
application-local.properties
application-*.properties
.env.production
.env.local
.run