.warningBoxWrapper {
    padding: 1em;
}

.warningBox {
    padding: 1.5em;
    background-color: darkorange;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.warningTitle {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .1em;
}