.oauthResult {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.resultContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.resultContent > .header {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.resultContent > .errorBox {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: firebrick;
}

.backBtn {
    min-width: fit-content;
    width: 6rem;
}