.commandPopup {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.triggers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trigger {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.addTrigger {
    width: 100%;
}

.cooldown {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.templateSpacer {
    height: 20rem;
    width: 100%;
    background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift;
    font-size: 2rem;
}