<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../DesignBoard.css">
    <title>Design-Board</title>
</head>
<body> <p>
    <button class="button" >ADD Command</button>
    <button class="button" >ADD Giveaway</button>
</p> <p>
    <button class="addButton"> ➕ </button>
    <button class="addButton" >Test Button 3, dieser wird richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig richtig lang</button>
</p> <p>
    <button class="deleteButton">🚮</button>
    <button class="deleteButton">Lösche Keine Ahnung was... Clym!</button>
</p> <p>
    <button class="editButton">🖊</button>
    <button class="editButton">Clym bearbeiten, damit seine Witze besser sind</button>
</p> <p>
    <input type="search" placeholder="Command Suchen">
</p> 
</body>
</html>