<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth 2.0 Complete</title>
</head>
<body>
    <h1 th:if="${success} == true">Autorisierung abgeschlossen!</h1>
    <h1 th:if="${success} == false">Autorisierung fehlgeschlagen!</h1>
    <p th:if="${success} == true">Du kannst dieses Fenster nun wieder schließen</p>
    <p th:if="${success} == false">Du kannst dieses Fenster nun wieder schließen</p>
    <p th:text="${error}"></p>
</body>
</html>