<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../DesignBoard.css">
    <link rel="stylesheet" href="../../main/modules/DesignBoard/resources/static/designboard.css">
<!--    <meta http-equiv="refresh" content="0; url=https://youtu.be/dQw4w9WgXcQ" />-->
    <title>Error</title>
</head>
<body>
  Hier gibt keine Fehler, bitte höre auf zu lügen!
  <h1> Error:</h1>
 <h2 th:text="${error}"></h2>
</body>
</html>