.healthTile {
    min-height: 10rem;
    max-height: fit-content;
    min-width: fit-content;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputStatus {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: right;
}

.inputName {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.healthTile.STOPPED {
    background-color: gray;
}

.healthTile.HEALTHY {
    background-color: green;
}

.healthTile.STARTING {
    background-color: lightgreen;
}

.healthTile.INJURED {
    background-color: darkorange;
}

.healthTile.DEAD {
    background-color: darkred;
}
