.giveawayEditPage {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tileBar {
    background-color: darkorange;
    border-radius: 10px 10px 0 0;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.contentBorder {
    padding: 0 1em 1em;
    background-color: darkorange;
    border-radius: 0 0 1em 1em;
    border-top: 0;
    flex: 1;
}

.formContent {
    border-radius: .5em;
    height: 100%;
    background-color: var(--default-background);
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 2rem;
    gap: 1rem;
}

.column:nth-of-type(2) {
    border: var(--primary-border);
    border-top: 0;
    border-bottom: 0;
}

.winnersListCard {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.winnersListScrollArea {
    flex: 1;
    border: var(--primary-border);
}

.winnersList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.potentialWinner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.potentialWinnerActionBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2em;
}

.potentialWinnerActionBtns > button {
    aspect-ratio: 1;
    padding: 0;
}

.potentialWinnerActionBtns > button > svg {
    stroke: red;
}

.logs {
    flex: 1;
}

.dangerArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}
