<configuration debug="false">
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{DDD-HH:mm:ss.SSS} |%-5level| [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SYSTEM" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{DDD-HH:mm:ss.SSS} [%class{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="talium.inputs" level="WARN"/>
    <logger name="talium.modules" level="INFO"/>
    <logger name="talium.system" level="INFO"/>
    <logger name="talium.system.inputSystem.HealthManager" level="INFO" additivity="false">
        <appender-ref ref="SYSTEM"/>
    </logger>
    <logger name="talium.system.StopWatch" level="INFO" additivity="false">
        <appender-ref ref="SYSTEM"/>
    </logger>
    <logger name="talium.system.eventSystem" level="INFO"/>
    <logger name="talium.system.commandSystem" level="INFO"/>
    <logger name="talium.system.twitchCommands.cooldown.CooldownService" level="INFO"/>
    <logger name="talium.system.commandSystem.CommandProcessor.Chat" level="DEBUG"/>
    <logger name="talium.system.ASCIIProgressbar" level="INFO"/>
    <logger name="logback" level="INFO"/>
    <logger name="org.springframework.security.web" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root name="STDOUT" level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
