.titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 5px;
    border-bottom: 2px var(--gradient-diag);
}

.templateEditor-returnBtn {
    padding: 5px 10px 5px 10px;
    border: var(--primary-border);
    border-radius: 1rem;
}

.templateEditor-title {

}

.templateEditor-content {
    padding: 10px;
}